@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* 
Primary: #25274D //Blue Darkish
Secondary: #2E9CCA //Blue Light
Blue-light-darkish: #29648A 
Grey-Darkish-text: #464866 //Grey Darkish
Grey: #AAABB8
*/
